<div id="main-container">
  <div class="card">

    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
        Questions
      </button>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let q of questions, let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{i + 1}}
        </mat-panel-title>
        <mat-panel-description>
          {{q.question}}
        </mat-panel-description>
        <a (click)="onOpenModal(q, 'edit')" type="button"><i class='far fa-edit'></i></a>
        <a (click)="onOpenModal(q, 'delete')" type="button"><i class='fas fa-trash-alt'
                                                               style='color:red; margin: 0 12px'></i></a>
      </mat-expansion-panel-header>

      <div>
        <p style="color: red">{{q?.response1}}</p>
        <p style="color: red">{{q?.response2}}</p>
        <p style="color: red">{{q?.response3}}</p>
        <p style="color: red">{{q?.response4}}</p>
        <p *ngIf="q.correct==q?.response1" style="color: olivedrab">Correct answer:  {{q?.response1}}</p>
        <p *ngIf="q.correct==q?.response2" style="color: olivedrab">Correct answer:  {{q?.response2}}</p>
        <p *ngIf="q.correct==q?.response3" style="color: olivedrab">Correct answer:  {{q?.response3}}</p>
        <p *ngIf="q.correct==q?.response4" style="color: olivedrab">Correct answer:  {{q?.response4}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="modal fade" id="updateQuestionModal" tabindex="-1" role="dialog" aria-labelledby="questionEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="height: 400px">
        <form #editQuestionForm="ngForm" *ngIf="editQuestion!=null"
              (ngSubmit)="onUpdateQuestion(editQuestionForm.value)">
          <input type="hidden" [(ngModel)]="editQuestion.id" name="id">
          <div class="form-group row modal-header" style="margin-right: 5px">
            <div class="col-form-label">
              <label for="name" style="padding-left: 25px">Question</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" [(ngModel)]="editQuestion.question" name="question">
<!--              <textarea rows="8" cols="3" type="text" class="form-control" id="name" [(ngModel)]="editQuestion.question" name="question"></textarea>-->
            </div>
          </div>
          <fieldset class="form-group" id="response">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="editQuestion.correct" name="correct">
              <div class="row">

                <div class="col-md-11" style="padding-left: 35px">
                  <label for="response1" class="col-form-label">Answer</label>
                  <mat-radio-button class="col-sm-9" name="correct" [value]="editQuestion.response1" [checked]="editQuestion.correct == editQuestion.response1">
                    <input type="text" class="form-control form-control-md" [(ngModel)]="editQuestion.response1"
                           name="response1"
                           placeholder="First answer" id="response1" style="width: 330px">
                  </mat-radio-button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                  <mat-radio-button name="correct" [value]="editQuestion.response2" [checked]="editQuestion.correct == editQuestion.response2">
                    <input type="text" class="form-control form-control-md" [(ngModel)]="editQuestion.response2"
                           name="response2"
                           placeholder="Second answer" id="response2" style="width: 330px">
                  </mat-radio-button>
                </div>
                <div class="col-md-3"></div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                  <mat-radio-button name="correct" [value]="editQuestion.response3" [checked]="editQuestion.correct == editQuestion.response3">
                    <input type="text" class="form-control form-control-md" [(ngModel)]="editQuestion.response3"
                           name="response3"
                           placeholder="Thirst answer" id="response3" style="width: 330px">
                  </mat-radio-button>
                </div>
                <div class="col-md-3"></div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                  <mat-radio-button name="correct" [value]="editQuestion.response4" [checked]="editQuestion.correct == editQuestion.response4">
                    <input type="text" class="form-control form-control-md" [(ngModel)]="editQuestion.response4"
                           name="response4"
                           placeholder="First answer" id="response4" style="width: 330px">
                  </mat-radio-button>
                </div>
                <div class="col-md-3"></div>
              </div>
            </mat-radio-group>
          </fieldset>

          <select name="level" id="level" [(ngModel)]="editQuestion.level" style="margin-left: 116px; width: 125px; margin-bottom: 20px;">
            <option *ngFor="let level of levels" [ngValue]="level" >{{level.difficulty}}</option>
          </select>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
            <div class="col-md-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel" style="color: red">Delete Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete theme name is  {{deleteQuestion?.question}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteQuestion(deleteQuestion?.id)" class="btn btn-danger" data-dismiss="modal">Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
