<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
     <div class="card" style="width: 18rem; cursor: pointer;" routerLink="/home">
       <img class="card-img-top img-thumbnail" src="https://media.discordapp.net/attachments/747757123055910982/747774704437166080/download.png" alt="Card image cap">
     </div>
    </div>
    <div class="col-lg-4" style="position: relative;">
     <h1 style="position: absolute; bottom: 80px;">Only One Answer <br> Is Correct: </h1>
   </div>
  <div class="col-lg-2" id="loginBtn" style="text-align: center">
    <div class="container emp-profile">
      <form method="post">
        <div class="row">
            <div class="profile-img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
              <label>User Name :</label><a routerLink="#" *ngIf="currentUser">{{currentUser.username}}</a>
            </div>
          </div>
      </form>
    </div>
  </div>
  <br>

  </div>
