
<div class="row" id="main-container">
    <div class="col-lg-3">
        <div id="sideBar">
            <div class="card" style="width: 18rem; cursor: pointer; margin-left: 60px; " routerLink="/home">
                <img class="card-img-top img-thumbnail" src="https://media.discordapp.net/attachments/747757123055910982/747774704437166080/download.png" alt="Card image cap">
              </div>
              <h3 style="margin: 18px 0 -12px 15px;">Quizz</h3>
              <hr>
          <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchTheme(key.value)" #key="ngModel" ngModel
                   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search themes..." required style="margin-left: 18px">
          </form>
              <div style="padding: 16px;">
                  <div class="card" id="theme">

                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active" style="cursor: default;">
                         Topic
                        </button>
                        <button style="cursor: default" type="button" class="list-group-item d-flex justify-content-between list-group-item-action"
                         *ngFor="let theme of themes">
                          <a [routerLink]="['/questions/level/', theme.id]">{{theme.name}} </a>
                          <div>
                            <a (click)="onOpenModal(theme, 'edit')" type="button"><i class='far fa-edit'></i></a>
                            <a (click)="onOpenModal(theme, 'delete')" type="button"><i class='fas fa-trash-alt' style='color:red; margin: 0 12px'></i></a>
                            <i class="fas fa-plus-square" (click)="addLevel(theme.id)"></i>
                         </div></button>

                        <button type="button" class="list-group-item list-group-item-action active"
                        style="text-align: center;" (click)="openRegister()">Add Topic</button>
                      </div>


                    </div>
              </div>
              <button type="button" class="btn btn-outline-danger" style="margin-left: 20px;">Logout</button>

        </div>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  <div class="modal fade" id="updateThemeModal" tabindex="-1" role="dialog" aria-labelledby="themeEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateThemeModalLabel">Edit theme name is {{editTheme?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name" class="font-weight-bold">Name</label>
              <input type="text" ngModel="{{editTheme?.name}}" name="name" class="form-control" id="name"
                     aria-describedby="emailHelp" placeholder="Name">
            </div>
            <input type="hidden" ngModel="{{editTheme?.id}}" name="id" class="form-control" id="id" placeholder="Email">
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateTheme(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="deleteThemeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel" style="color: red">Delete Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete theme name is  {{deleteTheme?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteTheme(deleteTheme?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
