<div id="add">
    <div class="card">
      <h2>Create Topic</h2>
      <br>
      <form (ngSubmit)="addTheme()">
        <div class="form-group row">

          <div class="col-sm-9">
            <input type="text" name="name" [(ngModel)]="theme.name" class="form-control" id="name" placeholder="Enter topic" style="width: 333px">
          </div>
        </div>

        <div class="btnContent" style="display: grid;">
          <button type="submit" class="btn btn-primary" style="margin-left: 100px;width: 124px; border-radius: 30px;">Confirm</button>
        </div>
      </form>
   </div>
 </div>
