
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="#" class="logo">OCA CHALLENGE</a>
          <ul class="nav">
            <li class="scroll-to-section"><a  routerLink="/home" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="#about">About</a></li>
            <li class="scroll-to-section"><a href="#services">QUIZ</a></li>
            <div class="main-menu d-none d-lg-block">
              <div class="btn-group">
                <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <li><a routerLink="/login" *ngIf="!currentUser">Login</a></li>
                  <li><a routerLink="#" *ngIf="currentUser">{{currentUser.username}}</a>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"  *ngIf="currentUser != null" [routerLink]="['/profile',currentUser?.id]">User Profile</a>
<!--                  <a class="dropdown-item" routerLink="/register">Register</a>-->
                  <a class="dropdown-item" (click)="logout()" *ngIf="currentUser">Log Out</a>
                </div>
              </div>
            </div>
          </ul>
          <!--            <li class="scroll-to-section"><a href="#frequently-question">Register</a></li>-->
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>>
        </nav>
      </div>
    </div>
  </div>
</header>

<!--<app-home1></app-home1>-->
<div class="welcome-area" id="welcome">
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <h1>Free OCA exam <strong>for YOU</strong></h1>
          <p>If you want to be a good programmer then start here!!</p>
          <a href="#about" class="main-button-slider">Find Out More</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <img src="assets/images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
        <div class="left-heading">
          <h5>Oracle Certified Associate, Java SE 8 Programmer Certification Overview</h5>
        </div>
        <p>Proin justo sapien, posuere suscipit tortor in, fermentum mattis elit. Aenean in feugiat purus.</p>
        <ul>
          <li>
            <img src="assets/images/about-icon-01.png" alt="">
            <div class="text">
              <h6>Steps to Become an Oracle Certified Associate (OCA) Java SE 8 Programmer</h6>
              <p>You can use this website template for commercial or non-commercial purposes.</p>
            </div>
          </li>
          <li>
            <img src="assets/images/about-icon-02.png" alt="">
            <div class="text">
              <h6>Donec consequat commodo purus</h6>
              <p>You have no right to re-distribute this template as a downloadable ZIP file on any website.</p>
            </div>
          </li>
          <li>
            <img src="assets/images/about-icon-03.png" alt="">
            <div class="text">
              <h6>Sed placerat sollicitudin mauris</h6>
              <p>If you have any question or comment, please <a rel="nofollow" href="https://templatemo.com/contact">contact</a> us on TemplateMo.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
    </div>
  </div>
</section>
<section>

</section>
<section class="section" id="services">
  <div class="container">
    <div class="row" style="justify-content: center">
      <h2 style="color:black;">Quiz</h2>
    </div>
    <div class="item service-item">
      <div class="icon">
        <i><img src="assets/images/service-icon-02.png" alt=""></i>
      </div>
      <h5 class="service-title">Chapter 1 : Declarations and Access Control</h5>
      <p>.Identifiers and Keywords <br>

        •javac, java, main(), and Imports  <br>
        •Declare Classes and Interfaces  <br>

        •Declare Class Members  <br>

        •Declare Constructors and Arrays  <br>

        •Create static Class Members  <br>

        •Use enums </p>
      <a href="#" class="main-button" routerLink="/history/:userUsername"  *ngIf="currentUser">Play</a>
    </div>
    <div class="item service-item">
      <div class="icon">
        <i><img src="assets/images/service-icon-03.png" alt=""></i>
      </div>
      <h5 class="service-title">Chapter 2: Object Orientation</h5>
      <p>Describe Encapsulation <br>

        •Implement Inheritance <br>

        •Use IS-A and HAS-A Relationships (OCP) <br>

        •Use Polymorphism <br>

        •Use Overriding and Overloading <br>

        •Understand Casting <br>

        .Use Interfaces <br>

        •Understand and Use Return Types <br>

        •Develop Constructors <br>

        •Use static Members</p>
      <a href="#" class="main-button" routerLink="/history/:userUsername"  *ngIf="currentUser">Play</a>
    </div>
    <div class="item service-item">
      <div class="icon">
        <i><img src="assets/images/service-icon-02.png" alt=""></i>
      </div>
      <h5 class="service-title">Chapter 3: Assignments</h5>
      <p>Use Class Members <br>
        • Understand Primitive Casting <br>
        • Understand Variable Scope <br>
        • Differentiate Between Primitive Variables and <br>
        Reference Variables
        • Determine the Effects of Passing Variables into <br>
        Methods
        • Understand Object Lifecycle and Garbage <br>
        Collection
        .Two-Minute Drill</p>
      <a href="#" class="main-button" routerLink="/history/:userUsername"  *ngIf="currentUser">Play</a>
    </div>
    <div class="item service-item">
      <div class="icon">
        <i><img src="assets/images/service-icon-01.png" alt=""></i>
      </div>
      <h5 class="service-title">Chapter 4: Operators</h5>
      <p>Using Java Operators
        •     Use Parentheses to Override OperatorPrecedence <br>
        •     Test Equality Between Strings and OtherObjects Using == and equals( )</p>
      <a href="#" class="main-button" routerLink="/history"  *ngIf="currentUser">Play</a>
    </div>
    <div class="item service-item">
      <div class="icon">
        <i><img src="assets/images/service-icon-03.png" alt=""></i>
      </div>
      <h5 class="service-title">Chapter 5: Flow Control and Exceptions</h5>
      <p>
        Use if and switch Statements <br>
        • Develop for, do, and while Loops   <br>
        • Use break and continue Statements  <br>
        • Use try, catch, and finally Statements  <br>
        • State the Effects of Exceptions  <br>
        • Recognize Common Exceptions
      </p>
      <a href="#" class="main-button" routerLink="/history/:userUsername"  *ngIf="currentUser">Play</a>
    </div>
    <div class="item service-item">
      <div class="icon">
        <i><img src="assets/images/service-icon-01.png" alt=""></i>
      </div>
      <h5 class="service-title">Chapter 6: Strings, Arrays, ArrayLists, Dates, and Lambdas</h5>
      <p> Create and Manipulate Strings <br>
        • Manipulate Data Using the StringBuilder <br>
        Class and Its Methods <br>
        • Create and Use Calendar Data <br>
        • Declare, Instantiate, Initialize, and Use a <br>
        One-Dimensional Array <br>
        • Declare, Instantiate, Initialize, and Use a <br>
        Multidimensional Array <br>
        • Declare and Use an ArrayList <br>
        • Use Wrapper Classes <br>
        • Use Encapsulation for Reference Variables <br>
        • Use Simple Lambda Expressions
      </p>
      <a href="#" class="main-button" routerLink="/history/:userUsername"  *ngIf="currentUser">Play</a>
    </div>
  </div>
</section>


<!--&lt;!&ndash; modal &ndash;&gt;-->
<!--<div class="row">-->
<!--  <div class="modal" id="myModal" tabindex="-1" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title">Choose Level</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <app-level-list></app-level-list>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-primary" routerLink="/home">Save changes</button>-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
