
.bg-light{
  background-image: url('src/assets/New folder/banner.jpg');
  height: 100%;
  align-content: center;
  padding-top: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Numans', sans-serif;
  margin-bottom: 1000px;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}
.text-center{
  color: white;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}
.form-groupp span{
  color: red;
}
